
<html>
    <body>
        <table>
            <tr><td>Crop Type</td><td><input type="text" value="Please enter Crop Type"></td></tr>
            <tr><td>Crop Name </td><td><input type="text" value="Please enter Crop Name"></td></tr>
            <tr><td>Fertilizer Type</td><td><input type="text" value="Please enter Fertilizer Type"></td></tr>
            <tr><td> Quantity</td><td><input type="text" value="Please enter Quantity"></td></tr>
            <br>
            <br>
            <tr><td>Soil pH Certificate</td><td><input type="text" value="Please enter Soil pH Certificate"></td></tr><br>
            <tr><td><button type="button" value="PLACE REQUEST">PLACE REQUEST</button></td></tr>
    </table>
    </body>
</html>
