
<html>
    <head>
        <title>Farmer Page</title>
    <style> 
        .logoBar {
    
          border: limegreen;
          background-color: limegreen;
          text-align: right;
    
        }
        h1 {
          text-align: center;
        }
        div {
          height: 30px;  
          text-align: center;
          background-color: limegreen;
        }
        </style>
        
      </head>
      <body>
    <div class="logoBar">
      <p>
        <button type="button" class="btn-default btn-sm" onclick="">Log out</button>
      </p>
      <h1>
        <button (click)="Jumppg()">Place Sell Request</button>
         
      </h1>
      <h1>
        <a href="PLease put the login page link"> <button type="button" class="btn-default btn-sm" id="viewhist">View Sold Crop History</button></a>
      </h1>
      <h1>
        <a href="PLease put the login page link"> <button type="button" class="btn-default btn-sm" id="viewMarket">View Marketplace</button></a>
      </h1>
    </div>
    <!--<h1>
      Place Sell Request
    
      View Sold Crop History
    
      View Marketplace
    </h1>-->
    
    
    
    </body>
      </html>
      